:host {
  --mat-toolbar-container-background-color: #fff;
  --mat-sidenav-container-background-color: #fff;
  --mat-sidenav-content-background-color: var(--mat-sys-surface);
}

h1 {
  font-weight: bold !important;
}

mat-sidenav-container {
  min-height: 100vh;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav {
  --mat-sidenav-container-shape: 0;

  border-inline-end: 1px solid var(--mat-sys-outline);

  @media (max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape) {
    & {
      --mat-sidenav-container-shape: unset;
      border-inline-end: 0;
    }
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--mat-sys-outline);

  mat-sidenav-content & {
    --mat-toolbar-container-background-color: var(--mat-sys-primary-container);
    --mat-toolbar-container-text-color: var(--mat-sys-on-primary-container);
  }

  mat-sidenav & {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

main {
  padding: 0 1rem 1rem;
  overflow-y: hidden;
}