@let isSmall = isHandset();

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="isSmall ? 'dialog' : 'navigation'"
    [mode]="isSmall ? 'over' : 'side'"
    [opened]="!isSmall"
  >
    <mat-toolbar>
      <img src="/logo.png" alt="Logo" />
      Reserve App
    </mat-toolbar>
    <mat-nav-list>
      @for (route of sidenavRoutes; track route.title) {
        <a mat-list-item [routerLink]="route.path">
          <mat-icon matListItemIcon>
            {{ route.icon }}
          </mat-icon>
          {{ route.title }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isSmall) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <h1>Dashboard</h1>
      <div style="flex-grow: 1;"></div>
      <app-layout-settings />
    </mat-toolbar>
    <app-layout-breadcrumbs />
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
